body {
  margin: 0;
}
:root {
  --color1: #ffffff;
  --color2: #009ffd;
  --color3: #2a2a72;
  --color4: #232528;
  --color5: #937666;
}

body {
  margin: 0;
  background-color: var(--color2);
}

nav {
  border-bottom: 1px solid var(--color3);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--color3);
  padding: 1rem;
}

nav ul {
  height: 2rem;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 1%;
}
.LeftDiv{
  float: left;
}
.RightDiv{
  float: right;
  margin-right: 1rem;
  
}
nav ul li .navItem {
  border-bottom: 1px solid var(--color3);
  border-radius: 5px;
  padding: 1rem;
  background-color: var(--color2);
  font-size: x-large;
  color: var(--color1);
  text-decoration: none;
}
nav ul li p{
  display: inline;
}

nav ul li .navItem:hover {
  background-color: var(--color3);
}

article {

  border: 1px solid var(--color3);
  border-radius: 5px;
  background-color: var(--color3);
  height: 1000px;
  width: 80%;
  margin-top: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

footer {
  border-bottom: 1px solid var(--color3);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 5rem;
  padding: 1rem;
  background-color: var(--color3);
  color: var(--color1);
  text-align: center;
  font-size: large;
}

footer a {
  font-size: xx-large;
  color: var(--color1);
  margin: 1rem;
}